// Define variables for your color scheme

// For example:

$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #F4F4F4;

$gray: #181423;
$red: #B56666;
$light-blue: rgba(78, 108, 215, 0.1);
$purple: #A393E2;
