.about-container {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-rows: 10vh 1fr 1fr 1fr 100vh 100vh;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 600px) {
  .about-container {
    grid-template-rows: 10vh 100vh 100vh 100vh 100vh 100vh;
    grid-template-columns: 1fr;
  }
}
