.books-container {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-rows: 10vh 1fr 1fr 1fr 100vh;
  grid-template-columns: 1fr;
}

.book-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.book-1 {
  width: 80%;
}

.book-2 {
  width: 80%;
}

.book-3 {
  width: 80%;
}



@media screen and (min-width: 600px) {
  .books-container {
    grid-template-rows: 10vh 100vh 100vh 100vh 100vh;
  }

  .book-content {
    width: 25%;
  }

  .book-1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .book-1-img {
    width: 25%;
  }

  .book-2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

   .book-2-img {
    width: 25%;
  }

  .book-3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .book-3-img {
    width: 25%;
  }
}

