.books-container {
  height: auto;
  display: grid;
  grid-template-rows: 14vh 1fr 1fr 1fr 100vh 100vh 100vh;
  grid-template-columns: 1fr;
}

.book-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.book {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3em 0;
}

.book-title-2 {
  padding: 0.5em 0;
}

.book-content {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.b-1 {
  background: $light-blue;
}

.b-3 {
  background: $light-blue;
}


.book-1-img {
  width: 50%;
  height: 36vh;
  background: image-url('book_img_1.jpg');
  background-size: cover;
  background-position: center;
}

.book-2-img {
  width: 40%;
  height: 30vh;
  background: image-url('book_img_2.jpg');
  background-size: cover;
  background-position: center;
}

.book-3-img {
  width: 60%;
  height: 30vh;
  background: image-url('book_img_3.jpg');
  background-size: cover;
  background-position: center;
}


@media screen and (min-width: 600px) {
  .books-container {
    grid-template-rows: 14vh 100vh 100vh 100vh 100vh 100vh 100vh;
  }

  .book-content {
    width: 40%;
    padding-left: 4em;
    overflow: hidden;
    max-height: 90vh;
  }


  .book {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 0;
    margin: 4em 0;
  }

  .book-1-img {
    width: 16%;
    height: 40vh;
  }

   .book-2-img {
    width: 16%;
    height: 40vh;
  }

  .book-3-img {
    width: 20%;
    height: 40vh;
  }
}

