.books-container {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-rows: 12vh 1fr 1fr 1fr 100vh;
  grid-template-columns: 1fr;
}

.book-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.book {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
}

.book-content {
  margin-top: 2em;
}

.b-1 {
  background: $light-blue;
}

.b-3 {
  background: $light-blue;
}


.book-1-img {
  width: 40%;
  height: 20vh;
  background: image-url('book_img_1.jpg');
  background-size: cover;
  background-position: center;
}

.book-2-img {
  width: 40%;
  height: 20vh;
  background: image-url('book_img_2.jpg');
  background-size: cover;
  background-position: center;
}

.book-3-img {
  width: 40%;
  height: 20vh;
  background: image-url('book_img_2.jpg');
  background-size: cover;
  background-position: center;
}


@media screen and (min-width: 600px) {
  .books-container {
    grid-template-rows: 12vh 100vh 100vh 100vh 100vh;
  }

  .book-content {
    width: 24%;
    padding-left: 2em;
    overflow: hidden;
    max-height: 90vh;
  }

  .book {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .book-1-img {
    width: 16%;
    height: 40vh;
  }

   .book-2-img {
    width: 16%;
    height: 40vh;
  }

  .book-3-img {
    width: 16%;
    height: 40vh;
  }
}

