// Specific CSS for your home-page
.home-container {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-rows: 10vh 90vh 1fr auto 100vh 100vh 100vh;
  grid-template-columns: 1fr;
}











