// ------- LAYOUT ------- //

.home-container {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-rows: 10vh 90vh 1fr auto 100vh 100vh 100vh;
  grid-template-columns: 1fr;
}


// ------- BANNER ------- //

.home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(19.61deg, rgba(0, 0, 0, 0.2) 49.15%, rgba(255, 255, 255, 0) 72.11%), url(Bluebells.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home-banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 80%;
}

// ------- PROFILE ------- //

.home-profile {
  padding: 2em 0;
  display: flex;
  justify-content: center;
}

.home-profile-box {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.home-profile-image-container {
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.home-profile-image-border {
  height: 44vh;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  background: $light-blue;
}

.home-profile-image {
  height: 40vh;
  width: 90%;
  background-image: url(profile_home.JPG);
  background-position: center;
  background-size: cover;
}

.home-profile-content {
  width: 100%;
  padding: 2em;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

// ------- RECIPES ------- //

.home-recipes {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.home-recipes-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.home-recipes-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-recipe-images {
  display:flex;
  flex-direction: column;
  width: 80vw;
}

.r-img-1 {
  background-image: url(home_recipes_1.JPG);
}

.r-img-2 {
  background-image: url(home_recipes_2.JPG);
}

.r-img-3 {
  background-image: url(home_recipes_3.JPG);
}

.home-recipe-image {
  height: 50vh;
  width: 80vw;
  background-position: center;
  background-size: cover;
  margin-bottom: 2em;
}


// ------- MEDIA QUERIES ------- //

@media screen and (min-width: 600px) {
  .home-container {
    grid-template-rows: 10vh 90vh 120vh 120vh 100vh 100vh 100vh;
  }

  .home-banner-box {
    justify-content: flex-end;
  }

  // ------- PROFILE ------- //

  .home-profile-box {
    flex-direction: row;
  }

  .home-profile {
    height: 120vh;
  }

  .home-profile-image-border {
    width: 80%;
    height: 90vh;
  }

  .home-profile-image {
    width: 90%;
    height: 90%;
  }

  // ------- RECIPES ------- //

  .home-recipe-images {
    flex-direction: row;
    width: 80vw;
  }

  .home-recipe-image {
    height: 80vh;
  }

  .r-img {
    margin-right: 1em;
  }
}











