// Specific CSS for your home-page
.home-container {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-rows: 10vh 90vh 1fr auto 100vh 25vh;
  grid-template-columns: 1fr;
}

.home-banner {
  background-image: linear-gradient(19.61deg, rgba(0, 0, 0, 0.2) 49.15%, rgba(255, 255, 255, 0) 72.11%), url(Bluebells.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-content {
  position: absolute;
  left: 10%;
  bottom: 28%;
  display: flex;
  flex-direction: column;
  align-items: left;
  background: rgba(0, 0, 0, 0.10);
}

.profile {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-image-box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image-border {
  width: 80%;
  height: 90vh;
  background-color: rgba(78, 108, 215, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  background-image: url("https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/62260949_2322345554515423_5968050442989469696_n.jpg?_nc_cat=106&_nc_sid=09cbfe&_nc_ohc=CGy8NejhptUAX9Fz_H9&_nc_ht=scontent-lht6-1.xx&oh=b8d5bacd1de1de405be3cc630e563a1d&oe=5F011C2E");
  background-size: cover;
  background-position: center;
  width: 35vw;
  height: 80vh;
}

.profile-content-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-content {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-pictures-container {
  display: flex;
  // flex-direction: column;
}

.recipe-pictures {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.recipe-image {
  height: 100%;
  width: 80%;
}

.recipe-button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6%;
}

.recipe-button {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#recipe-image-one {
  background-image: url("https://images.unsplash.com/photo-1511690656952-34342bb7c2f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
  background-size: cover;
}

#recipe-image-two {
  background-image: url("https://images.unsplash.com/photo-1476718406336-bb5a9690ee2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
}

#recipe-image-three {
  background-image: url("https://images.unsplash.com/photo-1473093226795-af9932fe5856?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
}

