<div class="recipes-index-container">

  <%= render partial: "shared/navbar" %>

  <%= render partial: "shared/recipes" %>

  <%= render partial: "shared/books" %>

  <%= render partial: "shared/footer" %>

</div>
