.books {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), image-url('Blueberries.jpeg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.books-box {
  height: 50%;
  width: 50%;
  display:flex;
  flex-direction: column;
}

.book-image-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.book-image {
  width: 70%;
  height: 100%;
  background-image: url(home_book.jpg);
  background-position: center;
  background-size: cover;
}

.book-content-box {
  height: 100%;
  width: 100%;
  text-align: center;
}

.white-text {
  color: white !important;
  font-size: 2em;
  letter-spacing: 0.2em;
}

@media screen and (min-width: 600px) {
  .books-box {
    flex-direction: row;
    width: 50%;
  }

  .book-image-box {
    width: 50%;
  }

  .book-content-box {
  width: 50%;
  display:flex;
  align-items: center;
  text-align: left;
  }
}
