.logo {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: $purple;
}

.icon {
  padding: 0;
}

.navbar-original {
  display: flex;
  justify-content: center;
  height: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: white;
  z-index: 1;
  border-bottom: 1px solid rgba(78, 108, 215, 0.1);
}

.nav-icons {
  display: flex;
  flex-direction: column;
  color: $gray;
  display: none;
}

.navbar-content {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  // height: 100%;
}

.logo-top {
  display: flex;
  justify-content: center;
  margin: 0 !important;
}


.logo-bottom {
  text-align: center;
  margin: 0 !important;
}


.navbar-bluebell {
  height: 2em;
  width: 2em;
  margin: 0 0.2em;
  background: image-url('bluebell.png');
  background-size: cover;
}

.hamburger {
  opacity: 0.7;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  overflow-y: hidden;
  transition: 0.5s;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  text-align: center;
}

.overlay p {
  display: flex;
  justify-content: center;
}

.overlay a {
  width: auto;
  text-decoration: none;
  font-size: 2em;
  margin-bottom: 0.5em;
  color: $purple !important;
  opacity: 1;
  display: block;
  transition: 0.4s;
}

.overlay a:hover, .overlay a:focus {
  color: $black !important;
  opacity: 1;
}

.overlay .closebtn {
  position: absolute;
  right: 10%;
  top: 3%;
  font-size: 3em;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .nav-icons {
    flex-direction: row;
    display: unset;
  }

  .overlay .closebtn {
    position: absolute;
    font-size: 3em;
    cursor: pointer;
  }

  .overlay-content {
    top: 15%;
  }

  .overlay a {
    font-size: 2em;
    margin-bottom: 1em;
  }

  .icon {
    padding-right: 1em;
  }

  .logo {
    height: 100%;
    margin-right: 2.5em;
    align-items: center;
  }
}
