.logo {
  height: 100%;
  width: 240px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: $purple;
}

// .b-1 {
//   margin: 0 0.2em;
// }

.icon {
  padding: 0;
}

.navbar-original {
  display: flex;
  justify-content: center;
  height: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: white;
  z-index: 1;
}

.nav-icons {
  display: flex;
  flex-direction: column;
  color: $gray;
  display: none;
}

.navbar-content {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
}

.logo-top {
  display: flex;
  justify-content: center;
  margin: 0 !important;
}


.logo-bottom {
  text-align: center;
  margin: 0 !important;
}


.navbar-bluebell {
  height: 2em;
  width: 2em;
  background: image-url('bluebell.png');
  background-size: cover;
}

.hamburger {
  opacity: 0.7;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
  z-index: 9999;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 0.5em;
  text-decoration: none;
  font-size: 1.5em;
  color: white !important;
  opacity: 0.5;
  display: block;
  transition: 0.4s;
}

.overlay a:hover {
  opacity: 0.8;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  right: 1em;
  font-size: 2em;
}

@media screen and (min-width: 600px) {
  .nav-icons {
    flex-direction: row;
    display: unset;
  }

  .icon {
    padding-right: 1em;
  }

  .logo {
    height: 100%;
    margin-right: 3em;
    align-items: center;
  }
}
