.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $light-blue;
}

.newsletter-contents {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: white;
  height: 50vh;
  padding: 0 1em;
}

.newsletter-title {
  text-align: center;
}

.newsletter-input {
  height: 50%;
  width: 100%;
  display: inline-block;
  margin-bottom: 0.5em;
}

// .newsletter-subscribe-button {
//   border: 1px solid #ced4da;
//   width: 30%;
// }

@media screen and (min-width: 600px) {
  .newsletter-input {
    width: 40vw;
  }
}
