<div class="books">
  <div class="books-box">
    <div class="book-image-box">
      <div class="book-image"></div>
    </div>
    <div class="book-content-box">
      <a href="https://www.amazon.co.uk/s?k=lucy+burney&ref=nb_sb_noss_1" target=”_blank” class="white-text">Nutrition Books Buy Here</a>
    </div>
  </div>
</div>
