<div class="footer">
  <div class="footer-content">
    <div>Pic</div>
    <p>@lucyburneynutrition</p>
    <div class="footer-img"></div>
    <div class="nav-icons">
     <a href="https://www.facebook.com/lucy.burney.18"> <i class="fab fa-facebook-f icon"></i></a>
      <a href="https://www.instagram.com/lucyburneynutrition/"><i class="fab fa-instagram icon"></i></a>
      <a href="https://www.amazon.com/s?k=lucy+burney&ref=nb_sb_noss_2"><i class="fab fa-amazon icon"></i></a>
    </div>
    <button class="btn purple-button">CONTACT</button>
    <div class="footer-links">
      <a href="">about</a>
      <a href="">recipes</a>
      <a href="">books</a>
      <a href="">contact</a>
    </div>
    <div class="footer-copyright">
      <p>© 2020 lucy burney all rights reserved</p>
      <p>site by otto burney</p>
    </div>
  </div>
</div>
