<div class="footer">
  <div class="footer-content">
    <div class="single-bluebell-img"></div>
    <p>@lucyburneynutrition</p>
    <div class="footer-img"></div>
    <div class="footer-icons">
     <a href="https://www.facebook.com/lucy.burney.18"> <i class="fab fa-facebook-f footer-icon"></i></a>
      <a href="https://www.instagram.com/lucyburneynutrition/"><i class="fab fa-instagram footer-icon"></i></a>
      <a href="https://www.amazon.com/s?k=lucy+burney&ref=nb_sb_noss_2"><i class="fab fa-amazon footer-icon"></i></a>
    </div>
    <button class="btn purple-button">CONTACT</button>
    <div class="footer-links">
      <%= link_to "About", about_path %>
      <%= link_to "Recipes", user_recipes_path %>
      <%= link_to "Books", books_path %>
    </div>
    <div class="footer-copyright">
      <p class="footer-p-copyright">© 2020 lucy burney all rights reserved</p>
      <p class="footer-p-copyright">site by otto burney</p>
    </div>
  </div>
</div>
