<div class="about-container">

  <%= render partial: "shared/navbar" %>

  <div class="about-section-1 blue">
    <div class="about-section-1-border box">
      <div class="about-section-1-img-container">
        <div class="section-1-img"></div>
      </div>
      <div class="section-1 content">
        <h2>about</h2>
        <p>Lucy trained as a nutritional therapist with Patrick Holford at his <a href="https://www.ion.ac.uk/" target="_blank">Institute for Optimum Nutrition</a> (DipION) in the 1990’s.  </p>
        <p>she became a tutor at ION and went on to practice at the famous Hale Clinic in Central London. lucy was appointed a Foresight practitioner in 1997, and worked alongside Dr Marilyn Glenville in her preconception care clinic. </p>
        <p>Other projects included working with schools and nurseries on improving the quality of their school meals and advising a large restaurant chain on revamping their children’s menu.</p>
      </div>
    </div>
  </div>


  <div class="about-section-2">
    <div class="about-section-2-border box">
      <div class="about-section-2-img-container">
        <div class="section-2-img"></div>
      </div>
      <div class="section-2 content">
        <p>When lucy started her own family, she soon discovered that there was virtually no up-to-date nutritional guidance available to parents, INSPIRING HER FIRST BOOK“Optimum Nutrition for Babies and Young Children”</p>
        <p> My first book “Optimum Nutrition for Babies and Young Children” was designed to fill this void.  The success of the book and the great results I was getting from treating children in my private practice, led to my second book, “Boost Your Child’s immune System.”  This book was published internationally and I became a regular contributor to newspapers and magazines as well as conducting interviews on radio and television. </p>
        <p> Two more books followed, “Immunity Foods for Healthy Kids and “Superfoods for Healthy Kids.” </p>
      </div>
    </div>
  </div>


  <div class="about-section-3 blue">
    <div class="about-section-1-border box">
      <div class="about-section-3-img-container">
        <div class="section-3-img"></div>
      </div>
      <div class="section-3 content">
        <p>Family health is my passion.  Its importance has been brought right to the fore with the advent of Covid-19.  Feeding ourselves and our children vibrant and life enhancing food is the platform for a healthy and rewarding life.  Instilling in our children a positive attitude to diet and health is a gift that lasts a lifetime.</p>
      </div>
    </div>
  </div>

  <%= render partial: "shared/books" %>

  <%= render partial: "shared/newsletter" %>

  <%= render partial: "shared/footer" %>

</div>
