<div class="books-container">

  <%= render partial: "shared/navbar" %>

  <div class="book-container b-1">
    <div class="book">
      <div class="book-1-img">

      </div>
      <div class="book-content">
        <h3>Boost Your Childs Immune System</h3>
        <h2 class="book-title-2">Positive Nutrition</h2>
        <p>In my most comprehensive book to date, the 10-day plan is the result of over a decade of work as a nutritional therapist. This is a liberating, energising plan that celebrates Positive Nutrition. It will equip you with the building blocks needed to develop and implement a lifetime of balanced eating that is unique to you. Available in digital & audio format.</p>
        <a class="btn purple-button" href="https://www.amazon.co.uk/Boost-Your-Childs-Immune-System/dp/074992442X/ref=sr_1_2?dchild=1&keywords=lucy+burney&qid=1594389948&sr=8-2" target="_blank">BUY HERE</a>
      </div>
    </div>
  </div>

  <div class="book-container b-2">
    <div class="book">
      <div class="book-2-img">

      </div>
      <div class="book-content">
        <h3>Optimum Nutrition for Babies and Young Children</h3>
        <h2 class="book-title-2">Optimum Nutrition</h2>
        <p>In my most comprehensive book to date, the 10-day plan is the result of over a decade of work as a nutritional therapist. This is a liberating, energising plan that celebrates Positive Nutrition. It will equip you with the building blocks needed to develop and implement a lifetime of balanced eating that is unique to you. Available in digital & audio format.</p>
        <a class="btn purple-button" href="https://www.amazon.co.uk/Optimum-Nutrition-Babies-Young-Children/dp/0749926228/ref=sr_1_1?dchild=1&keywords=lucy+burney&qid=1594390096&sr=8-1" target="_blank">BUY HERE</a>
      </div>
    </div>
  </div>

  <div class="book-container b-3">
    <div class="book">
      <div class="book-3-img">

      </div>
      <div class="book-content">
        <h3>Immunity Foods for Healthy Kids</h3>
        <h2 class="book-title-2">Child Immunity</h2>
        <p>In my most comprehensive book to date, the 10-day plan is the result of over a decade of work as a nutritional therapist. This is a liberating, energising plan that celebrates Positive Nutrition. It will equip you with the building blocks needed to develop and implement a lifetime of balanced eating that is unique to you. Available in digital & audio format.</p>
        <button class="btn purple-button">BUY HERE</button>
      </div>
    </div>
  </div>

  <%= render partial: "shared/books" %>

  <%= render partial: "shared/newsletter" %>

  <%= render partial: "shared/footer" %>

</div>

