<div class="books-container">

  <%= render partial: "shared/navbar" %>

  <div class="book-container">
    <div class="book-1">
      <div class="book-1-img">

      </div>
      <div>
        <h3>Boost Your Childs Immune System</h3>
        <h2>Positive Nutrition</h2>
        <p>In my most comprehensive book to date, the 10-day plan is the result of over a decade of work as a nutritional therapist. This is a liberating, energising plan that celebrates Positive Nutrition. It will equip you with the building blocks needed to develop and implement a lifetime of balanced eating that is unique to you. Available in digital & audio format.</p>
        <button class="btn"></button>
      </div>
    </div>
  </div>

  <div class="book-container">
    <div class="book-2">
      <div class="book-2-img">

      </div>
      <div>
        <h3>Optimum Nutrition for Babies and Young Children</h3>
        <h2>Optimum Nutrition</h2>
        <p>In my most comprehensive book to date, the 10-day plan is the result of over a decade of work as a nutritional therapist. This is a liberating, energising plan that celebrates Positive Nutrition. It will equip you with the building blocks needed to develop and implement a lifetime of balanced eating that is unique to you. Available in digital & audio format.</p>
        <button class="btn"></button>
      </div>
    </div>
  </div>

  <%= render partial: "shared/footer" %>

</div>

