<div class="disclaimer-page-container">
  <div>
    <%= render partial: "shared/navbar" %>
  </div>
  <div class="disclaimer-container">
    <div class="disclaimer">
      <h3>Disclaimer</h3>
      <p>----------------------------------------</p>
      <p>The material in this website is for information purposes only. It is not intended as an alternative to medical advice. If you suspect that you or your child is suffering from a medical condition, you should always consult a doctor.</p>
    </div>
  </div>
</div>
