<div class="home-container">

<!-- navbar -->

  <%= render partial: "shared/navbar" %>

<!-- banner -->

  <div class="home-banner">
  </div>

<!-- profile -->

  <div class="profile">
  </div>

  <!-- recipes -->

  <div class="recipes">
  </div>

   <!-- books -->

  <div class="books">
  </div>

   <!-- newsletter -->

  <div class="newsletter">
    <h4>STAY IN TOUCH</h4>
    <p>Stay in touch via my newsletter. I share my newest recipes, tips, tricks and useful superfood facts. You may opt out at any time.</p>
    <%= simple_form_for Subscriber.new, :as => :subscriber, :url => subscribers_path(@subscriber) do |f| %>
      <%= f.input :email %>
      <%= f.button :submit %>
    <% end %>
  </div>

  <!-- footer -->

  <div class="footer">
  </div>
</div>

