.home-button {
  color: white;
  border: 1px solid white;
  width: 10em;
}

.purple-button {
  background: #A393E2;
  border-radius: 7px;
  color: white;
  font-size: 0.8em;
  width: 9em;
  height: 3em;
}
