.home-button {
  color: white;
  padding: 0.4em 0.2em;
  background: none;
  border: 1px solid white;
  width: 10em;
}

.home-button:hover {
  transition: opacity 0.3s;
  opacity: 0.8;
}

.purple-button {
  background: #A393E2;
  border-radius: 7px;
  font-size: 0.8em;
  color: white !important;
  width: 9em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: white !important;
    font-size: 1.2em;
  }
}

.red-button {
  border: 1px solid $red;
  background: white;
  padding: 0.5em 1.5em;
  :hover {
    transition: opacity 0.4s;
    opacity: 0.7;
  }
  a {
    color: $red !important;
  }
}

@media screen and (min-width: 800px) {
  .red-button {
    margin-top: 1em;
  }
}
