.contact-container {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-rows: 16vh auto;
  grid-template-columns: 1fr;
}

.contact-page-pic {
  margin-top: 4em;
}

@media screen and (min-width: 1000px) {
  .contact-page-pic {
    margin-top: 0em;
  }
}

