.contact-container {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-rows: 14vh 86vh;
  grid-template-columns: 1fr;
}

.contact-form {
  width: 80%;
  background: white;
  padding: 2em;
}
.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86vh;
  background: $light-blue;
}

.contact-us-title {
  padding-bottom: 1em;
}

@media screen and (min-width: 600px) {
  .contact-form {
    width: 30%;
    background: white;
    padding: 2em;
  }
}
