.contact-form {
  width: 30%;
  background: white;
}
.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86vh;
  background: $light-blue;
}

.contact-us-title {
  padding-bottom: 1em;
}
