.recipes-show-container {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-rows: 14vh auto;
  grid-template-columns: 1fr;
}

.recipes-show-recipe {
  display:flex;
  flex-direction: column;
}

.recipe-show-img-container {
  height: 50vh;
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.recipe-show-img {
  width: 80%;
  height: 100%;
  background: image-url("recipe.jpg");
  background-size: cover;
}

.recipe-show-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-show-content {
  width: 80%;
}

@media screen and (min-width: 600px) {
  .recipes-show-recipe-container {
    display: flex;
    justify-content: center;
  }

  .recipes-show-recipe {
    width: 80%;
  }

  .recipes-show-recipe {
    flex-direction: row;
  }

  .recipe-show-img-container {
    height: 100vh;
    width: 50vw;
    margin: 0;
    justify-content: flex-start;
    padding: 4em 0;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }

  .recipe-show-img {
    width: 100%;
    position: sticky;
    height: 60%;
  }

  .recipe-show-content {
    width: 90%;
    padding: 4em;
  }

}
