.recipes-show-container {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-rows: 16vh auto 100vh 100vh;
  grid-template-columns: 1fr;
}

.recipes-show-recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipes-show-recipe {
  display:flex;
  width: 80vw;
  flex-direction: column;
}

.recipe-instructions {
  padding-bottom: 0.25em;
}

.ingredients {
  padding-bottom: 0.25em;
}

.recipe-show-img-container {
  height: 50vh;
  width: 80vw;
  max-width: 25em;
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.recipe-show-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.recipe-show-content-container {
  display: flex;
  flex-direction: column;
}

.recipe-show-content {
  width: 80%;
}

@media screen and (min-width: 1000px) {
  .recipes-show-recipe-container {
    display: flex;
    justify-content: center;
  }

  .recipes-show-recipe {
    width: 80%;
  }

  .recipes-show-recipe {
    flex-direction: row;
    align-items: flex-start;
  }

  .recipe-show-img-container {
    height: 100vh;
    margin: 0;
    justify-content: flex-start;
    padding: 4em 0;
    position: sticky;
    position: -webkit-sticky;
    top: 14%;
  }

  .cooking-time-and-serves-show {
    display:flex;
    align-items: flex-start;
  }

  .recipe-show-img {
    width: 100%;
    position: sticky;
    height: 80%;
  }

  .recipe-show-content-container {
    width: 70%;
  }

  .recipe-show-content {
    width: 90%;
    padding: 4em 0em 4em 4em;
  }
}
