.recipes-index-container {
  height: auto;
  display: grid;
  grid-template-rows: 14vh auto 1fr 100vh 100vh;
  grid-template-columns: 1fr;
}

.recipe-of-the-day-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
}

.recipe-of-the-day-border {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
}

.recipe-of-the-day {
  width: 100%;
}

.recipe-of-the-day-title {
  text-decoration: underline;
  padding: 0.5em 0;
}


.recipe-of-the-day-img-container {
  width: 100%;
  height: 40vh;
}

.recipe-of-the-day-img {
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

.recipe-of-the-day-content-container {
  width: 100%;
}

.recipe-of-the-day-content {
  width: 100%;
  h4 {
    font-size: 1em;
  }
}

.user-recipe-section-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-recipes-grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
  // padding: 2em 0;
}


.user-recipe-grid-top {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-recipes-dietary-key {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5em;
  width: auto;
}

.dietary-key-items {
  margin: 0.25em !important;
  font-size: 0.8em;
  border: 1px solid #D2D2D2;
  color: $black;
  padding: 0.25em 1em;

}

.user-recipes-grid {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.recipe-index-img {
  background-size: cover;
  position: relative;
  border-radius: 3px;
}

.recipe-index-img:hover {
    opacity: 0.9;
    transition: opacity 0.2s;
  }

.recipe-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  1fr 1fr 1fr;
  color: white;
  height: 50vh;
  border-radius: 3px;
  padding: 1em;
}

.recipe-type {
  height: 18vh;
  display:flex;
  justify-content: flex-end;
  p {
    padding-right: 0.5em;
  }
}

.white-box {
  height: 1.5em;
  width: 1.5em;
  margin-top: 0.25em;
  margin-left: 0.25em;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

.diet-icon {
  height: 1em;
  width: 1em;
}

.vegan {
  background: image-url('vegan.png');
  background-size: cover;
}

.vegetarian {
  background: image-url('vegetarian.png');
  background-size: cover;
}

.dairy_free {
  background: image-url('dairy_free.png');
  background-size: cover;
}

.gluten_free {
  background: image-url('gluten_free.png');
  background-size: cover;
}


.recipe-name {
  display:flex;
  justify-content: center;
  align-items: center;
  a {
    color: white !important;
  }
  h3 {
    text-align: center;
  }
}

.cooking-time-and-serves {
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 0.5em;
  p {
    margin: 0 !important;
  }
}

@media screen and (min-width: 600px) {
  .recipe-index-container {
    grid-template-rows: 14vh 90vh 1fr 100vh 100vh;
  }

  .recipe-of-the-day-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 0;
    border-top: 1px solid $light-blue;
  }

  .recipe-of-the-day {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    width: 94%;
    height: 90%;
    padding: 0 4em;
  }
  .recipe-of-the-day-border {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    background-color: $light-blue;
  }

  .recipe-of-the-day-content-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
  }

   .recipe-of-the-day-content {
    width: 100%;
    height: 80%;
    padding-left: 4em;
    overflow: hidden;
    p {
      line-height: 1.6;
    }
  }

  .recipe-of-the-day-description {
    overflow: hidden;
  }

  .recipe-of-the-day-img-container {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .recipe-of-the-day-img {
    height: 80%;
    width: 100%;
  }


  .user-recipes-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}



