.recipes-index-container {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-rows: 12vh auto 1fr 100vh 100vh;
  grid-template-columns: 1fr;
}

.recipe-of-the-day-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  border-top: 1px solid #F2F2F2;
}

.recipe-of-the-day-border {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-of-the-day {
  width: 80%;
}

.recipe-of-the-day-img-container {
  width: 100%;
  height: 40vh;
}

.recipe-of-the-day-img {
  width: 100%;
  height: 40vh;
  background: image-url("recipe.jpg");
  background-size: cover;
}

.recipe-of-the-day-content-container {
  width: 100%;
}

.user-recipes-grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em 0;
}

.user-recipes-grid {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.recipe-index-img {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 100%, rgba(255, 255, 255, 0) 104.37%), image-url("recipe.jpg");
  background-size: cover;
  position: relative;
}
.recipe-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  1fr 1fr 1fr;
  color: white;
}

.recipe-type {
  height: 14vh;
  display:flex;
  justify-content: flex-end;
  p {
    padding-right: 0.5em;
  }
}

.recipe-name {
  display:flex;
  justify-content: center;
  align-items: center;
  a {
    color: white;
  }
}

.cooking-time-and-serves {
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 0.5em;
}

@media screen and (min-width: 600px) {
  .recipe-index-container {
    grid-template-rows: 12vh 90vh 1fr 100vh 100vh;
  }

  .recipe-of-the-day-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .recipe-of-the-day {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    width: 94%;
    height: 90%;
  }
  .recipe-of-the-day-border {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    background-color: $light-blue;
  }

  .recipe-of-the-day-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

   .recipe-of-the-day-content {
    width: 80%;
    height: 80%;
    overflow: hidden;
  }

  .recipe-of-the-day-img-container {
    order: 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .recipe-of-the-day-img {
    height: 80%;
    width: 60%;
  }


  .user-recipes-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}



